include build/project.pug

+page("Easy Moving: Trucking Things Throughout Europe")
  +motto("motto")
  +services("services")
  +perks("perks")
  +working-process("working-process")
  +autopark("autopark")