include build/project.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title IT-Rkomi
    link(rel="stylesheet", href="styles.css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  
  body
    +page()
      +services("services")
      +perks("perks")
      +working-process("working-process")
      +autopark("autopark")
      
    script(src="script.js")