-
  const mainMenuItems = [
    {
      name: "About us",
      link: "#",
      submenu: [
        {
          name: "Bank details",
          link: "#"
        },
        {
          name: "Contract templates",
          link: "#"
        },
        {
          name: "Confidentiality policy",
          link: "#"
        }
      ],
    }, 
    {
      name: "Services",
      link: "#",
      submenu: [
        {
          name: "Trucking through Europe",
          link: "#"
        },
        {
          name: "Apartment moving",
          link: "#"
        },
        {
          name: "Office moving",
          link: "#"
        },
        {
          name: "Suburban moving",
          link: "#"
        }
      ],
    },
    {
      name: "Calculator",
      link: "#"
    },
    {
      name: "Price list",
      link: "#"
    },
    {
      name: "Contacts",
      link: "#"
    }
  ];

mixin main-menu(className)
  nav(class = className)
    ul.main-menu__list
      each item in mainMenuItems 
        li.main-menu__item(class = item.submenu ? "main-menu__item_with-sub" : "")
          a(href = item.link)= item.name
          if (item.submenu) 
            ul.main-menu__sub-list
              each subItem in item.submenu 
                li.main-menu__sub-item
                  a(href = subItem.link)= subItem.name